.DS_Store
sublime3/Cache
ac-comphist.dat
vim/installed
installed/
.netrwhist
configs/custom.el
projects/
desktop-sessions/
custom.el
backups/
saveplace
auto-save-list/
*.cache
*.el~
anything-c-adaptive-history
vendor/nxhtml
.org-id-locations
vendor/js2.elc
vendor/Pymacs-0.23
vendor/rinari